/* Note styles */

.note-box {
	background: #F7B50A;
	color: #fff;
	margin: 1.5em 0;
}

.note-box.note {background: #F7B50A;}
.note-box.alert {background: #d35757;}
.note-box.idea {background: #39cccc;}
.note-box.success {background: #1fa67a;}

.note-box * {transition: 0.3s all ease-in-out;}

.note-box .note-text {
	padding: 0.7em 2em;
	display: table-cell;
}

.note-box .note-icon {
	display: table-cell;
	height: 100%;
	min-width: 100px;
	padding: 0 1em;
	text-align: center;
	vertical-align: middle;
	background: rgba(0,0,0,.1);
}

.note-box .note-text p {
	color: #ffffff;
}

.note-box .note-text h3 {
	margin: 0.3em 0;
	color: #ffffff;
	font-size: 22px;
	font-weight: 600;
}

.note-box .note-text p a {
	color: #fff;
	font-weight: bold;
}

.note-box .note-icon span, .note-box .note-icon span svg {
	font-size: 60px;
	max-width: 60px;
	color: #fff;
}

@media all and (max-width: 360px) {
	.note-box .note-icon {
		display: block;
		padding: 0.2em;
	}
	.note-box .note-icon span, .note-box .note-icon span svg {
		font-size: 36px;
		max-width: 36px;
	}
	.note-box .note-text {
		padding: 0.3em 1em;
	}
}

/* Pricing table related styles */

.pricing-container {
	width: 90%;
	max-width: 1170px;
	margin: 1em auto;
}

.pricing-container.full-width {
	width: 100%;
	max-width: none;
}

.pricing-switcher {
	text-align: center;
}

.pricing-list {
	margin: 1em 0 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
}

.pricing-list > li {
	position: relative;
	margin-bottom: 1em;
	padding-left: 5px;
	padding-right: 5px;
	flex-grow: 1;
	list-style-type: none !important;
}

.pricing-wrapper {
	position: relative;
}

.entry-content ul.pricing-wrapper {
	margin: 0 5px;
	padding: 0;
}

.touch .pricing-wrapper {
	-webkit-perspective: 2000px;
	-moz-perspective: 2000px;
	perspective: 2000px;
}

.pricing-wrapper > li {
	background-color: #ffffff;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	outline: 1px solid transparent;
	border: 1px solid #dddddd;
	border-radius: 1px;
	transition: 0.3s all ease-in-out;
	list-style: none !important;
}

header.pricing-header h2 {
	padding: 0.9em 0.9em 0.9em;
	font-weight: 400;
	margin-bottom: 30px;
	margin-top: 10px;
	text-transform: uppercase;
	text-align: center;
	border-bottom: 8px solid #BB252F;
	background-color: #eee;
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(238, 238, 238, 1)));
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 100%);
	background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 100%);
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 100%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
}

header.pricing-header {
	height: auto;
	padding: 0 0 1.6em;
	margin: 0;
	pointer-events: auto;
	text-align: center;
	color: #333333;
	background: transparent;
	border-bottom: 0px transparent;
}

li.pricing-featured header.pricing-header {
	color: #BB252F;
	background-color: transparent;
	margin: 0;
	padding: 0 0 1.6em;
}

header.pricing-header h2 {
	font-size: 20px;
	letter-spacing: 0px;
}

header.pricing-header:after {
	display: none;
}

.currency,
.value {
	font-size: 3rem;
	font-weight: 300;
}

.duration {
	font-weight: 700;
	font-size: 1.3rem;
	color: #999;
	text-transform: uppercase;
}

li.pricing-featured .duration {
	color: #2d3e50;
}

.duration::before {}

.value {
	font-size: 48px;
	font-weight: 300;
}

.exclusive .currency,
.exclusive .duration {
	color: #2d3e50;
}

.currency {
	display: inline-block;
	margin-top: 10px;
	font-size: 36px;
}

.duration {
	font-size: 14px;
}

.pricing-body {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

.is-switched .pricing-body {
	overflow: hidden;
}

.pricing-body {
	overflow-x: visible;
}

.pricing-features {
	width: 600px;
	min-height: 230px;
}

.pricing-features:after {
	content: "";
	display: table;
	clear: both;
}

ul.pricing-list {
	margin: 1em 0; padding: 0;
}

.pricing-features ul {
	margin: 0; padding: 0;
}

.pricing-features li {
	width: auto;
	float: none;
	padding: 0.5em 0;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	text-overflow: ellipsis;
	list-style-type: none;
}

.pricing-features em {
	display: block;
	margin-bottom: 5px;
	font-weight: 600;
}

ul.pricing-features {
	width: auto;
	margin: 0;
	padding: 0px 20px;
}

.pricing-features em {
	display: inline-block;
	margin-bottom: 0;
}

.has-margins .exclusive .pricing-features li {
	margin: 0;
}

.pricing-footer {
	position: absolute;
	top: 0;
	left: 0;
	height: 80px;
	width: 100%;
}

.pricing-footer {
	position: relative;
	height: auto;
	padding: 1.8em 0;
	text-align: center;
}

.has-margins .pricing-footer {
	padding-bottom: 0;
}

.select {
	position: relative;
	display: block;
	height: 100%;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	color: transparent;
}

.select {
	position: static;
	display: inline-block;
	height: auto;
	padding: 0.5em 2em;
	color: #BB252F;
	border-radius: 5px;
	border: 2px solid #BB252F;
	font-size: 1.6rem;
	text-indent: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: all .6s;
}

.no-touch .select:hover {
	background-color: #BB252F;
	color: #ffffff;
}

li.pricing-featured .select {
	background-color: #BB252F;
	color: #ffffff;
}

.has-margins .select {
	display: block;
	padding: 1.7em 0;
	border-radius: 0 0 4px 4px;
}

@media only screen and (min-width: 768px) {
	.pricing-list {
		margin: 3em 0 0;
	}
	.pricing-list:after {
		content: "";
		display: table;
		clear: both;
	}
	.pricing-list > li {
		flex-grow: 1;
		flex-basis: 0;
	}
	.pricing-list li.pricing-featured {
		margin-top: 0px !important;
		padding: 0 !important;
		top: 0 !important;
	}

	ul#monthly.pricing-list > li:nth-child(3):after {
		background: url('https://szamlahegy.hu/wp-content/uploads/2016/07/30nap_110.png') no-repeat;
		background-size: contain;
		width: 80px;
		height: 80px;
		position: absolute;
		top: -30px;
		left: -60px;
		content: " ";
		display: block;
	}
}

@media only screen and (min-width: 1500px) {
	.full-width .pricing-wrapper > li {
		padding: 2.5em 0;
	}
}

@media only screen and (min-width: 981px) {
	.pricing-list li.pricing-featured {
		margin-top: -15px;
		padding: 0;
		top: 0;
	}
	.pricing-features {
		min-height: 300px;
	}
	.pricing-wrapper > li:hover {
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.3);
	border: 1px solid #BB252F;
	}
}

@media only screen and (max-width: 980px) {
	.pricing-list > li {
		display: block;
		width: 48%;
		float: left;
		padding: 0;
	}
	.pricing-list {
		display: block;
		width: 100%;
	}
	.pricing-list li.pricing-featured {
		margin-top: 0px !important;
		padding: 0 !important;
		top: 0 !important;
	}
}

@media only screen and (max-width: 540px) {
	.pricing-list > li,
	.pricing-list {
		display: block;
		width: 100%;
	}
}


/* Toggler */

.pricing-switcher .simple-toggler label {
	position: relative;
	display: inline-block;
	float: none;
	width: auto;
	height: auto;
	line-height: inherit;
	cursor: pointer;
	font-size: 1.4rem;
	color: inherit;
}

.toggle,
.toggler {
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
}

.toggler {
	color: #ddd;
	transition: .2s;
	font-weight: bold;
}

.toggler--is-active {
	color: #9D1726;
}

.b {
	display: block;
}

.toggle {
	position: relative;
	width: 80px;
	height: 35px;
	border-radius: 100px;
	background-color: #9D1726;
	overflow: hidden;
	box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.05);
}

.check {
	position: absolute;
	display: block;
	cursor: pointer;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 6;
}

.check:checked ~ .switcher {
	right: 2px;
	left: 57.5%;
	transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	transition-property: left, right;
	transition-delay: .08s, 0s;
}

.switcher {
	position: absolute;
	left: 2px;
	top: 2px;
	bottom: 2px;
	right: 57.5%;
	background-color: #fff;
	border-radius: 36px;
	z-index: 1;
	transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	transition-property: left, right;
	transition-delay: 0s, .08s;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.simple-toggler {
	text-align: center;
}

.hide {
	display: none;
}


/* pricing table buttons */

a.pricing-button {
	background-color: #BB252F;
}

.pricing-button {
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	opacity: 1;
	padding: 10px 20px;
	position: relative;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .15);
	text-transform: uppercase;
	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-ms-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
}

.pricing-button:hover {
	color: #fff;
	opacity: 0.8;
}

li.pricing-featured header.pricing-header h2 {
	border-bottom-color: #45d0da;
}

li.pricing-featured .pricing-footer a.pricing-button {
	background: #45d0da;
}

.simple-toggler p {
    display: inline-block;
}